In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [148]:
data1 = pd.read_csv('/Users/kevinli/Documents/GitHub/dsc106_final_project/filtered data/number1_integrate.csv')
data1 = data1.rename(columns = {'Timestamp (YYYY-MM-DDThh:mm:ss)': 'Time', 'Glucose Value (mg/dL)' : 'Glucose'})
data1['Time'] = pd.to_datetime(data1['Time'])

In [104]:
time = data1[data1['total_carb'].notna()].groupby('Time').sum()[['total_carb', 'sugar', 'protein','Glucose']]
time

                     total_carb  sugar  protein  Glucose
Time
2020-02-13 18:00:00        85.0   83.0     16.0      0.0
2020-02-13 20:30:00         2.5    0.8     63.4      0.0
2020-02-14 07:10:00        35.0   18.0     13.0      0.0
2020-02-14 09:38:00        30.0   22.0      4.0      0.0
2020-02-14 12:38:00        14.4    8.7     13.9      0.0
2020-02-14 19:30:00        92.0   75.0      5.0      0.0
2020-02-14 20:00:00        53.5    1.6     16.0      0.0
2020-02-15 07:30:00        69.0   38.0      7.2      0.0
2020-02-15 11:02:00        30.0   22.0      4.0      0.0
2020-02-15 12:38:00        14.4    8.7     13.9      0.0
2020-02-15 15:30:00         0.3    0.3      5.0      0.0
2020-02-15 15:35:00        30.0   22.0      4.0      0.0
2020-02-15 20:30:00        37.2   11.5     42.0      0.0
2020-02-16 07:00:00        35.0   18.0     13.0      0.0
2020-02-16 08:15:00        30.0   22.0      4.0      0.0
2020-02-16 08:49:00        32.0   25.0      2.5      0.0
2020-02-16 11:56:00        14.0    6.0      2.0      0.0
2020-02-16 12:15:00        11.1    9.4     39.0      0.0
2020-02-16 21:10:00         3.4    0.0      0.2      0.0
2020-02-17 06:42:00        33.0   13.0      4.0      0.0
2020-02-17 12:30:00        28.2   17.0      7.5      0.0
2020-02-17 21:00:00        40.0    5.9     13.2      0.0
2020-02-17 21:56:00        17.0    9.3      0.7      0.0
2020-02-18 01:40:00        70.0   37.5      7.3      0.0
2020-02-18 06:20:00        35.0   18.0     13.0      0.0
2020-02-18 11:00:00        30.0   18.0      2.5      0.0
2020-02-18 11:45:00        23.0    1.7     16.0      0.0
2020-02-18 22:00:00        30.4    0.6     44.0      0.0
2020-02-19 11:00:00        92.0   75.0      5.0      0.0
2020-02-19 15:30:00        34.0   21.0      3.0      0.0
2020-02-19 18:00:00        21.0    3.9     18.0      0.0
2020-02-19 20:00:00        22.0    1.0     67.0      0.0
2020-02-20 07:37:00        96.0   42.4     12.7      0.0
2020-02-20 12:30:00         3.1    1.5      5.8      0.0
2020-02-20 13:00:00        32.0   25.0      2.5      0.0
2020-02-20 18:45:00        12.0    9.3      0.7      0.0
2020-02-20 20:15:00         2.8    1.2      0.8      0.0
2020-02-20 20:30:00        69.0   38.0      7.2      0.0
2020-02-21 07:30:00        35.0   18.0     13.0      0.0
2020-02-21 11:00:00         0.3    0.3      5.0      0.0
2020-02-21 12:30:00       112.3    4.9     37.0      0.0
2020-02-21 19:50:00        95.0    0.0     30.0      0.0
2020-02-21 20:00:00        69.0   38.0      7.2      0.0
2020-02-22 15:10:00        82.0   40.0     26.0      0.0

In [105]:
for index, content in time.iterrows():
    time1 = pd.to_datetime(index)
    start_time = time1 - pd.Timedelta(minutes= 5)
    end_time = time1 + pd.Timedelta(hours = 1)
    time.loc[index, 'Glucose'] = data1[(data1['Time'] > start_time) & (data1['Time'] < end_time)]['Glucose'].max()

In [106]:
every = pd.DataFrame(columns=['Time', 'total_carb', 'sugar', 'protein', 'Glucose'])

In [107]:
every = pd.concat([every, time], ignore_index= True)

/var/folders/p1/gt9_rpdj4fn153tlj6x538p40000gn/T/ipykernel_34925/3053932533.py:1: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  every = pd.concat([every, time], ignore_index= True)

In [149]:
data1

,Unnamed: 0,Time,total_carb,sugar,protein,logged_food,Glucose
0,12,2020-02-13 17:23:32,NaN,NaN,NaN,NaN,61.0
1,13,2020-02-13 17:28:32,NaN,NaN,NaN,NaN,59.0
2,14,2020-02-13 17:33:32,NaN,NaN,NaN,NaN,58.0
3,15,2020-02-13 17:38:32,NaN,NaN,NaN,NaN,59.0
4,16,2020-02-13 17:43:31,NaN,NaN,NaN,NaN,63.0
...,...,...,...,...,...,...,...
2617,2568,2020-02-22 17:33:23,NaN,NaN,NaN,NaN,139.0
2618,2569,2020-02-22 17:38:23,NaN,NaN,NaN,NaN,141.0
2619,2570,2020-02-22 17:43:23,NaN,NaN,NaN,NaN,143.0
2620,2571,2020-02-22 17:48:22,NaN,NaN,NaN,NaN,139.0
2621,2572,2020-02-22 17:53:23,NaN,NaN,NaN,NaN,129.0

In [8]:
data3 = pd.concat([data, data1]).sort_values('Timestamp (YYYY-MM-DDThh:mm:ss)')

In [10]:
for i in range(16):
    if i < 9 and i != 2:
        data1 = pd.read_csv(f'/Users/kevinli/Documents/GitHub/dsc106_final_project/data/Dexcom_00{i + 1}.csv')
        data= pd.read_csv(f'/Users/kevinli/Documents/GitHub/dsc106_final_project/data/Food_Log_00{i + 1}.csv')
    elif i == 2:
        continue
    else:
        data1 = pd.read_csv(f'/Users/kevinli/Documents/GitHub/dsc106_final_project/data/Dexcom_0{i + 1}.csv')
        data= pd.read_csv(f'/Users/kevinli/Documents/GitHub/dsc106_final_project/data/Food_Log_0{i + 1}.csv')
    data1 = data1.iloc[12:].dropna(subset = ['Glucose Value (mg/dL)'])[['Timestamp (YYYY-MM-DDThh:mm:ss)', 'Glucose Value (mg/dL)']]
    data = data.dropna(subset= ['total_carb', 'sugar', 'protein'])[['time_begin', 'total_carb', 'sugar', 'protein', 'logged_food']]
    data = data.rename(columns={'time_begin': 'Timestamp (YYYY-MM-DDThh:mm:ss)'})
    data1['Timestamp (YYYY-MM-DDThh:mm:ss)'] = pd.to_datetime(data1['Timestamp (YYYY-MM-DDThh:mm:ss)'])
    data['Timestamp (YYYY-MM-DDThh:mm:ss)'] = pd.to_datetime(data['Timestamp (YYYY-MM-DDThh:mm:ss)'])
    data3 = pd.concat([data, data1]).sort_values('Timestamp (YYYY-MM-DDThh:mm:ss)')
    data3.to_csv(f'number{i+1} integrate.csv', header=True)

In [22]:
data1

,Index,Timestamp (YYYY-MM-DDThh:mm:ss),Event Type,Event Subtype,Patient Info,Device Info,Source Device ID,Glucose Value (mg/dL),Insulin Value (u),Carb Value (grams),Duration (hh:mm:ss),Glucose Rate of Change (mg/dL/min),Transmitter Time (Long Integer)
0,1,NaN,FirstName,NaN,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,NaN,LastName,NaN,009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,NaN,DateOfBirth,NaN,1970-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,NaN,Device,NaN,NaN,Dexcom G6 Mobile App,iPhone G6,NaN,NaN,NaN,NaN,NaN,NaN
4,5,NaN,Alert,Fall,NaN,NaN,iPhone G6,NaN,NaN,NaN,NaN,3.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2312,2313,2020-03-29 10:41:41,EGV,NaN,NaN,NaN,iPhone G6,154.0,NaN,NaN,NaN,NaN,698688.0
2313,2314,2020-03-29 10:46:41,EGV,NaN,NaN,NaN,iPhone G6,153.0,NaN,NaN,NaN,NaN,698988.0
2314,2315,2020-03-29 10:51:41,EGV,NaN,NaN,NaN,iPhone G6,152.0,NaN,NaN,NaN,NaN,699288.0
2315,2316,2020-03-29 10:56:41,EGV,NaN,NaN,NaN,iPhone G6,152.0,NaN,NaN,NaN,NaN,699588.0
2316,2317,2020-03-29 11:01:41,EGV,NaN,NaN,NaN,iPhone G6,152.0,NaN,NaN,NaN,NaN,699888.0

In [169]:
every = pd.DataFrame(columns=['Time', 'total_carb', 'sugar', 'protein', 'Glucose'])
for i in range(14):
    if (i != 2) and (i != 7) and (i != 13):
        data = pd.read_csv(f'/Users/kevinli/Documents/GitHub/dsc106_final_project/filtered data/number{i+1}_integrate.csv')
    else:
        continue
    data = data.rename(columns = {'Timestamp (YYYY-MM-DDThh:mm:ss)': 'Time', 'Glucose Value (mg/dL)' : 'Glucose'})
    data['Time'] = pd.to_datetime(data['Time'])
    time = data[data['total_carb'].notna()].groupby('Time').sum()[['total_carb', 'sugar', 'protein','Glucose']]
    for index, content in time.iterrows():
        time1 = pd.to_datetime(index)
        index2 = data[data['Time'] == time1].index[0] - 1
        start_glucose = data.iloc[index2]['Glucose']
        start_time = time1 - pd.Timedelta(minutes= 5)
        end_time = time1 + pd.Timedelta(hours = 1)
        end_glucose = data[(data['Time'] >= start_time) & (data['Time'] <= end_time)]['Glucose'].max()
        time.loc[index, 'Glucose'] = end_glucose - start_glucose
    time = time.reset_index()
    every = pd.concat([every, time])

/var/folders/p1/gt9_rpdj4fn153tlj6x538p40000gn/T/ipykernel_34925/2924350687.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  every = pd.concat([every, time])

In [170]:
every[every['Glucose'].notna()]

                  Time  total_carb  sugar  protein  Glucose
0  2020-02-13 18:00:00        85.0   83.0     16.0     80.0
1  2020-02-13 20:30:00         2.5    0.8     63.4      0.0
2  2020-02-14 07:10:00        35.0   18.0     13.0     24.0
3  2020-02-14 09:38:00        30.0   22.0      4.0     20.0
4  2020-02-14 12:38:00        14.4    8.7     13.9     23.0
..                 ...         ...    ...      ...      ...
78 2020-05-10 17:45:00       147.0   72.0     12.0     48.0
79 2020-05-10 19:40:00        50.7    0.2     25.3     29.0
80 2020-05-10 20:15:00        18.0   16.0      1.4     37.0
81 2020-05-10 21:01:00         3.8    0.0      0.0      0.0
82 2020-05-10 22:40:00         2.6    0.0      0.6      0.0

[456 rows x 5 columns]

In [213]:
data = pd.read_csv('/Users/kevinli/Downloads/food_data.csv')

In [214]:
for i in (range(2, 12)):
    data1 = pd.read_csv(f'/Users/kevinli/Downloads/food_data-{i}.csv')
    print(data1.shape)
    data = pd.concat([data, data1], ignore_index= True)

(68, 6)
(55, 6)
(93, 6)
(73, 6)
(82, 6)
(100, 6)
(173, 6)
(104, 6)
(152, 6)
(88, 6)

In [215]:
data['Total Carbs'].median()

np.float64(10.0)

In [216]:
data['Sugar'].median()

np.float64(2.7)

In [217]:
data['Protein'].median()

np.float64(3.1)

In [218]:
(data['Protein'] < 3.1).sum()

np.int64(523)

In [226]:
data[(data['Total Carbs'] < 10) & (data['Sugar'] > 2.7) & (data['Protein'] > 3.1)]['maxGlucoseSpike'].mean()

np.float64(50.089285714285715)

In [222]:
data['maxGlucoseSpike'].sum()

np.int64(37291)

In [223]:
data

,logged_food,Glucose Value (mg/dL),maxGlucoseSpike,Total Carbs,Sugar,Protein
0,Berry Smoothie,63,80,85.0,83.0,16.0
1,Chicken Leg,108,-2,0.0,0.0,62.0
2,Asparagus,108,-2,2.5,0.8,1.4
3,Standard Breakfast,93,29,26.0,10.0,1.0
4,Natrel Lactose Free 2 Percent,93,29,9.0,8.0,12.0
...,...,...,...,...,...,...
1044,M&M's,102,73,34.0,31.0,2.0
1045,Lut Petit Ecolier Milk Chocolate Biscuit Cookie,130,37,18.2,5.3,1.6
1046,Sloppy Joe with 1 Bun,130,37,37.0,13.0,27.0
1047,Lay's Wavy Potato Chips,130,37,30.0,0.2,3.6
1048,Boost,103,69,82.0,40.0,26.0